<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Результаты</title>
    {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'images/faviconA.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="/polls/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="{% url 'polls:index' %}">SELFTEST</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto"></ul>
            </div>
        </div>
    </nav>
<main class="page cv-page" style="margin-top: 20px"></main>
<div class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <h1 class="text-center">{{article.article_title}}</h1>
                    <p class="text-center"><span class="by">Автор: </span>{{article.author}}
                        <span class="date" style="margin-left: 20px">{{article.date}}</span></p></div>
                <hr />
                <div class="text">
                {% autoescape off %} {{ article.content }}{% endautoescape %}
                </div>
            </div>
        </div>
    </div>
</div>
   </body>

</html>